In [16]:
import tweepy
from tweepy.auth import OAuthHandler 
import pandas as pd
import re
import datetime
secrets_dict ={'API Key': '2IzuBe0WXECoP7nkENGAB1GYJ',
 'API Secret': 'wRv9DGQUkjMTNISkJ16Qj73sPB3aHBEB2K9GkZH6uONZywX95t',
 'Bearer token': 'AAAAAAAAAAAAAAAAAAAAANNjCQEAAAAA0tQMCT0VtM7NNbjKb5pY%2BUqnzyU%3D5XXmWifVd9R7LJL08OHXaDzdOZttCxETPAycpbsIMCqmxzwSmU',
 'Access Token': '1223293246681559042-2pRBktBdT3aH736Q7EgPjLIkON0ame',
 'Secret Access Token': '7Ahg4hJ8Cu9ch8yVjMzPUg7y6a2FWG0czAzch7mjqxPgS'}
auth = tweepy.OAuthHandler(secrets_dict['API Key'], secrets_dict['API Secret'])
auth.set_access_token(secrets_dict['Access Token'], secrets_dict['Secret Access Token'])
api = tweepy.API(auth,wait_on_rate_limit=True)

my_dict = {'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Volatility', 'Day_diff', 'Relative Volatility', 'date', 'tweet',
       'tesla', 'model', 'sales', 'buy', 'btc', 'Doge'}
#dic = {'tesla','model'}

In [17]:
def account_tweet () :
    user = input('please enter a username ')
    user = str(user)
    tweets = api.user_timeline(screen_name = user ,count = 200)
    user_tweet = [tweet.text for tweet in tweets]
    date_tweet=[tweet.created_at for tweet in tweets]
    date = [date.strftime("%d %b %Y") for date in date_tweet] 
    user_tweet = pd.DataFrame(user_tweet)
    user_tweet['Tweet date'] = date
    user_tweet.columns = ['Tweet','Date']
    return user_tweet

In [36]:
def Key_word_in_tweet(x,dic) :
  #  key= input('Please enter some keys words separated by a space')
        for word in dic :
            x[word] = x['Tweet'].str.find(word)
        x = (x[x[word] > 0])

        return x

In [43]:
def program_flow() :
#    user = input('please enter a username')
    x = account_tweet()
#    key= input('Please enter some keys words separated by a space')
    y = Key_word_in_tweet(x, dic)
    return y

In [44]:
x = program_flow()

please enter a username elonmusk

In [42]:
x

Empty DataFrame
Columns: [Tweet, Date, tesla, model]
Index: []