In [190]:
import tweepy
from tweepy.auth import OAuthHandler 
import pandas as pd
import re
import datetime
secrets_dict ={'API Key': '2IzuBe0WXECoP7nkENGAB1GYJ',
 'API Secret': 'wRv9DGQUkjMTNISkJ16Qj73sPB3aHBEB2K9GkZH6uONZywX95t',
 'Bearer token': 'AAAAAAAAAAAAAAAAAAAAANNjCQEAAAAA0tQMCT0VtM7NNbjKb5pY%2BUqnzyU%3D5XXmWifVd9R7LJL08OHXaDzdOZttCxETPAycpbsIMCqmxzwSmU',
 'Access Token': '1223293246681559042-2pRBktBdT3aH736Q7EgPjLIkON0ame',
 'Secret Access Token': '7Ahg4hJ8Cu9ch8yVjMzPUg7y6a2FWG0czAzch7mjqxPgS'}
auth = tweepy.OAuthHandler(secrets_dict['API Key'], secrets_dict['API Secret'])
auth.set_access_token(secrets_dict['Access Token'], secrets_dict['Secret Access Token'])
api = tweepy.API(auth,wait_on_rate_limit=True)
Celeb = pd.read_csv('/Users/arthurspriet/Desktop/Top 1000 celebrity twitter accounts/Top-1000-Celebrity-Twitter-Accounts.csv')
Celeb['name'] = Celeb['name'].str.lower()
Celeb = Celeb[['name','twitter']]

In [191]:
Celeb

              name          twitter
0       katy perry        katyperry
1    justin bieber     justinbieber
2     taylor swift    taylorswift13
3          rihanna          rihanna
4     the countess         ladygaga
..             ...              ...
991           zedd             Zedd
992         troian  SleepintheGardn
993        juicy j    therealjuicyj
994   manu gavassi      manugavassi
995      seu jorge         soujorge

[996 rows x 2 columns]

In [192]:
def account_tweet (user) :
    #user = input('please enter a username')
    user = str(user)
    tweets = api.user_timeline(screen_name = user ,count = 200)
    user_tweet = [tweet.text for tweet in tweets]
    date_tweet=[tweet.created_at for tweet in tweets]
    date = [date.strftime("%d %b %Y") for date in date_tweet] 
    user_tweet = pd.DataFrame(user_tweet)
    user_tweet['Tweet date'] = date
    user_tweet.columns = ['Tweet','Date']
    return user_tweet

In [193]:
account_tweet('elonmusk')

                                                 Tweet         Date
0                            @alp_cp @GerberKawasaki üßê  04 Nov 2021
1                               @teslaownersSV Cool :)  04 Nov 2021
2    @GerberKawasaki Not yet. They should just post...  03 Nov 2021
3                     And Mars https://t.co/geLbxjAlsw  03 Nov 2021
4                                  @robxlynx Haha true  03 Nov 2021
..                                                 ...          ...
195  @SawyerMerritt As soon as major construction i...  17 Oct 2021
196                                        @BillyM2k üòõ  17 Oct 2021
197  I‚Äôve thought about and ‚Ä¶ I‚Äôm not sorry for par...  17 Oct 2021
198                             (\_/)\n( ‚Ä¢_‚Ä¢)\n/ &gt;üöÄ  17 Oct 2021
199  @slashdot Autonomy must &amp; will work even w...  17 Oct 2021

[200 rows x 2 columns]

In [194]:
def Key_word_in_tweet(x) :
    key= input('Please enter some keys words separated by a space ')
    key=str(key)
    key = re.findall('[A-z][a-z]+',key)
    for k in key :
        x[k] = x['Tweet'].str.find(k)
    x = (x[x[k] > 0])

    return x

In [195]:
def find_account () :
    celeb = Celeb.copy()
    person = input('please enter a person ')
    person = person.lower()
    filter1 = Celeb['name']== person
    x = celeb.where(filter1,inplace = True)
    x = celeb.dropna(subset = ["twitter"], inplace=True)
    x = celeb['twitter']
    x = str(x)
    x = re.findall('[A-z]+',x)
    x = x[0]
    return x

In [196]:
find_account()

please enter a person elon musk

'elonmusk'

In [201]:
def program_flow() :
#    user = input('please enter a username')
   # user = find_account()
    x = account_tweet(find_account())
#    key= input('Please enter some keys words separated by a space')
    y = Key_word_in_tweet(x)
    return y

In [202]:
x = program_flow()

please enter a person elon musk
Please enter some keys words separated by a space tesla

In [203]:
x

                                                Tweet         Date  tesla
1                              @teslaownersSV Cool :)  04 Nov 2021      1
9                                    @teslaownersSV !  02 Nov 2021      1
15  @teslaownersSV You‚Äôre welcome!\n\nIf any of th...  02 Nov 2021      1